
.cellButton{
  background: blue;
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.cellButton:hover{
  color: red;
}

.cellButton[disabled] {
  background-color: transparent;
  color: transparent;
  /* opacity: 0%; */
}

#holdingButton{
  width: 15%;
  border: 2px, solid, black;
  background-color: lightgrey;
}

#endTurnButton{
  border: 2px, solid, black;
  width: 15%;
  /* need to align with the waiting tab above it, currently looks askew */
  color: green;
  margin-bottom: 50px;
}